.newinsumo-container{
    text-align: center;
}

.newinsumo-button {
    border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 5px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
}