.search-bar {
  margin: 8px auto;
  text-align: center;
  margin-bottom: 5px;
}

.search-bar .btn {
  display: inline;
}

.search-bar input {
  display: inline;
  min-width: 60%;
  margin: 0 10px;
  font-size: 20px;
  padding: 8px;
  min-width: 60%;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
}

