.tienda-box {
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.tienda-box header {
    background-color: #F5F5F5;
    color: #343a40;
    padding: 10px 0px;
    display: block;
    margin: 0;
    
}

.tienda-box header p{
    margin: 0;
}

.tienda-box nav {
    font-size: 32px;
    margin: 0;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.contenedor-hero-image div h1 {
    font-size: 50px;
    color: white;
    margin: 0;
}	

.contenedor-hero-image div p {
    font-size: 18px;
    color: white;
    margin: 0;
}

.hero-section-emprendimientos {
    padding: 0px 80px;
    padding-bottom: 50px;
    background-color: #fff;
    border-radius: 5px;
    height: 300px;
}

.contenedor-hero-image {
    border-radius: 5px;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-hero-image div {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contener-title-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.contener-title-productos h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 30px;
    margin: 0;
}

.contener-title-productos p {
    color: black;
    font-size: 15px;
    margin: 0;
}

.productos-section-tienda {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
        350px,
        1fr
        )
    );
    gap: 1rem;
    justify-items: center; 
    padding: 0px 100px;
}

nav .imagen-redonda-container {
    width: 75px; /* Ajusta el tamaño del contenedor según tu diseño */
    height: 75px; /* Ajusta el tamaño del contenedor según tu diseño */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
  }
  
  .imagen-redonda {
    width: 100%; /* Ajusta el tamaño de la imagen para que llene el contenedor */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    display: block; /* Permite alinear correctamente la imagen dentro del contenedor */
  }

.tienda-box footer {
    background-color: #fff;
    padding: 10px 100px;
    margin-top: 10px;
  }

  a:visited {
    color: inherit;
  }

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
  }

.links a {
    font-size: 20px;
    color: #343a40;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.links a svg {
    display: flex;
    justify-content: center;
    align-items: center;
}	

.link-descubre {
    text-decoration: none;
}	

.link-descubre:hover {
    text-decoration: underline;
}

.footer-tienda {
    display: flex;
    justify-content: space-between;
    align-items: center;
}	