body {
    background-color: #f5f5f5;
}

.emprendimientos-hero {
    padding: 50px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
}

.emprendimientos-hero span {
    color: #36976d;
}

.conoce-nuestras-tiendas span {
    color: #ED1B24;
}

.emprendimientos-page {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    height: 100%;
}

.emprendimientos-page h1 {
    font-size: 60px;
    text-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.emprendimientos-page h2 {
    font-size: 50px;
    text-wrap: wrap;
    font-family: "Montserrat", sans-serif;
    color: black;
    margin-bottom: 10px;
}

.emprendimientos-page p {
    font-size: 15px;
    text-wrap: balance;
    max-width: 70%;
    margin: 20px auto;

}

.conoce-nuestras-tiendas {
    margin: 60px 0px;
}
.emprendimientos-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

footer {
    padding: 50px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
}

footer h4 {
    font-size: 50px;
    color: black;
    margin: 0;
    font-weight: 500;
    font-style: italic;
}

footer span {
    color: #8F47AD;
}	

