.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  box-sizing: border-box;
}

/* Estilos del modal */
.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 160vh;
  max-width: 1300px;
  text-align: center;
  display: grid;
  grid-template-areas: 
    "act buttons";
  grid-template-columns: 1fr 1fr;
  gap: 2;
}

.act-zone {
    grid-area: act;
}

.buttons-zone {
    grid-area: buttons;
}

.contenedor-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.buttons-zone > h2{
    color: #eb5757;

}

.buttons-zone > hr {
    border-top: 1px solid #eb5757;
    max-width: 90%;
}

.btn-red {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: 50px;
  flex: 1;
  display: block;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #eb5757;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 10px;
  color:white;
}

.btn-border-red {
    border: 1px solid #eb5757;
    font-family: "Montserrat", sans-serif;
  text-decoration: none;
  width: 100px;
  display: block;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 10px auto;
  color:black;
  margin-bottom: 20px;
}

.buttons-zone h3 {
  text-align: start;
  margin-left: 50px;
}

.buttons-zone ul {
  text-align: start;
}

.checkbox {
  color: #eb5757;
  min-width: 0px;
  display: inline;
  text-align: start;
}

label {
  display: block;
}

.actpro-btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #eb5757;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 15px;
}