.box-productoscard {
    width: 350px;
    text-align: center;
}

.box-productoscard img {
    width: 350px;
    height: 350px;
    border-radius: 5px;
}

.desc-productoscard {
    font-size: 10px;
    color: #9aa3ac;
}

.name-productoscard {
    font-size: 20px;
    color: #343a40;
    font-weight: bold;
}