body {
  margin: 0;
}

* {
  overflow: auto;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin: 10px 0;
  display: block;
}

.white-section h1 {
  text-align: start;
}

h2 {
  color: #fff;
  font-size: 64px;
  font-family: "Style Script", cursive;
  font-weight: lighter;
  text-align: center;
  margin: 10px 0;
}

img {
  text-align: center;
  height: 250px;
  
}

input {
  border: none;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.conteiner {
  display: flex;
  background-color: antiquewhite;
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
}

.white-section {
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  box-sizing: border-box;
  min-width: 65%;
  height: 100vh;
  padding: 40px;
  background-color: #fff;
}

.red-section {
  box-sizing: border-box;
  background-color: #eb5757;
  min-width: 35%;
  height: 100vh;
  padding: 40px;
}

.red-section h2 {
  max-width: 100%;
  overflow-wrap: break-word;
}

.btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  max-width: 60%;
  display: block;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 15px auto;
  color:black
}

.white-hr {
  border-top: 1px solid #fff;
  max-width: 90%;
  margin-bottom: 20px;
}

.green-hr {
  border-top: 2px solid #00899b;
  max-width: 90%;
}

.center {
  text-align: center;
  align-items: center;
}

.start {
  text-align: start;
}

.overflowy {
  overflow-y: hidden;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

a:visited {
  color: inherit;
}