.pp-container {
    display: grid;
    grid-template-columns: 100px 60px 150px 1fr 100px;
    text-align: center;
}

.checkbox-pp {
   margin: 1em 0px;
 
}

.left {
    padding-left: 40px;
}

.pp-section {
    margin-bottom: 30px;
    max-height: calc(100vh - 200px);
}
.deletebtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.deletebtn:hover {
    cursor: pointer;
}