
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d3354;
  height: 100vh;
}

.conteiner-inicio {
  display: flex;
  min-width: 90vw;
  min-height: 60vh;
  margin-top: 5vh;
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 10px;
  background-color: antiquewhite;
  box-shadow: 0 30px 45px rgba(18, 8, 39, 0.2);
}

.inicio-white {
  font-family: "Montserrat", sans-serif;
  max-width: 60%;
  flex: 1;
  padding: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.inicio-red {
  background-color: #eb5757;
  max-width: 50%;
  padding: 20px;
  flex: 1;
}

.imagen-redonda-container {
  width: 200px; /* Ajusta el tamaño del contenedor según tu diseño */
  height: 200px; /* Ajusta el tamaño del contenedor según tu diseño */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
  border-radius: 50%; /* Hace que el contenedor sea redondo */
}

.imagen-redonda {
  width: 100%; /* Ajusta el tamaño de la imagen para que llene el contenedor */
  height: auto; /* Ajusta la altura de la imagen automáticamente */
  display: block; /* Permite alinear correctamente la imagen dentro del contenedor */
}