
header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.insumo-header {
  grid-column: span 4;
  grid-row: span 1;
  
}

.cantidad-general-header {
  grid-column: span 2; /* Ocupa 2 columnas */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow-y: scroll;
  
}

.cantidad-general-header::-webkit-scrollbar {
  width: 12px; 
}

.cantidad-general-header::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.cantidad-general-header::-webkit-scrollbar-track {
  background-color: transparent; 
}

.cantidad-header {
  grid-column: span 2;
}

.cantidad-reservada,
.cantidad-disponible {
  grid-column: span 1;
}


article {
  overflow-y: auto;
  margin-bottom: 30px;
  max-height: calc(100vh - 300px);
}

.insumos-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
}

.insumos-container > p.cantidad {
  color: #00899b;
}

.insumo {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #fafafa;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 5px;
}
