form input {
  min-width: 90%;
  display: block;
  padding: 15px;
  font-size: 15px;
  background-color: #fafafa;
  margin: 15px;
}

.link-conteiner {
  text-align: center;
}

.newinsumo-btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #00899b;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  margin: 15px;
}

.visible-inline {
  display: inline;
}
