.products-article {
    max-height: calc(100vh - 150px);
    margin-bottom: 10px;
    overflow-y: auto;
}

.products {
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 1rem;
  margin-right: 20px;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 5px 10px rgba(18, 8, 39, 0.1);
  border-radius: 4px;
  border: 1px solid #00899b;
  background: #fafafa;
  color: #00899b;
  padding: 1rem;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: .9;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}
