.emprendimientos-card-section {
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    background-color: #fff;
}

.imagen-redonda-container {
    width: 200px; /* Ajusta el tamaño del contenedor según tu diseño */
    height: 200px; /* Ajusta el tamaño del contenedor según tu diseño */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
  }
  
  .imagen-redonda {
    width: 100%; /* Ajusta el tamaño de la imagen para que llene el contenedor */
    height: auto; /* Ajusta la altura de la imagen automáticamente */
    display: block; /* Permite alinear correctamente la imagen dentro del contenedor */
  }
  
.emprendimientos-card-section h3 {
    color: black;
    font-size: 25px;
    margin: 10px 0px;
}

.emprendimientos-card-section p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: rgb(112, 111, 111);
}